<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Albums</title>
</head>
<body>
<header>
    <h1>All Albums</h1>
</header>
<main>

    <div th:if="${error != null}" th:text="${error}" style="color: red;"></div>

    <div>
        <a href="/albums/edit-form" style="margin-bottom: 20px; display: inline-block;">
            <button>Create New Album</button>
        </a>
    </div>

    <table border="1">
        <thead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Release Year</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="album : ${albums}">
            <td th:text="${album.name}"></td>
            <td th:text="${album.genre}"></td>
            <td th:text="${album.releaseYear}"></td>
            <td>
                <a th:href="@{'/albums/edit-form/' + ${album.getId()}}">
                    <button>Edit</button>
                </a>

                <form th:action="@{'/albums/delete/' + ${album.getId()}}" th:method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>